:root {
    --bg-color: #181b22;
    --bg-secondary-color: #22242e;
    --fg-color: white;
}

body {
    display: flex;
    color: var(--fg-color);
    background: var(--bg-color);

    justify-content: space-between;
}

#buttons-container {
    display: flex;
    gap: 0.5rem;

    position: fixed;
    bottom: 0;
    right: 0;

    justify-content: flex-end;

    width: 100%;
    margin: 0.5rem;
}

#scene {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

button,
#text {
    background: var(--bg-secondary-color);
    color: inherit;
    font-size: 1rem;

    cursor: pointer;

    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

#text {
    cursor: default;
}
